<!-- block: main-menu -->
<nav class="main-menu" role="navigation">
    <h2 class="main-menu__title">Главное меню</h2>
	<ul class="main-menu__list">
		{{#each main-menu}}
			<li class="main-menu__list-item{{#if id}} main-menu__list-item_id_{{id}}{{/if}}">
				{{#if url}}
					<a href="{{url}}" class="main-menu__list-item-title">
				{{else}}
					<span class="main-menu__list-item-title">
				{{/if}}

				{{title}}

				{{#if url}}
                	</a>
				{{else}}
                    </span>
				{{/if}}

				{{#if items}}
					<ul class="main-menu__list-item-menu">
						{{#each items}}
							<li class="main-menu__list-item-menu-item">
								<a href="{{url}}">{{title}}</a>
							</li>
						{{/each}}
					</ul>
				{{/if}}
			</li>
		{{/each}}
	</ul>
</nav>
<!-- /block: main-menu -->