<!DOCTYPE html>
<!--[if lte IE 7]> <html lang="en" class="lt-ie8 no-js"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <!-- Base url for all relative links -->
    <!--<base href="/" />-->

    <!-- Content charset -->
    <meta charset="utf-8"/>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->

    <!-- Common meta tags -->
    <!--
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="index,follow" />
    -->

    <!-- Viewport settings for touch devices (mobile, tablets, etc) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Mobile IE -->
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
    <meta http-equiv="cleartype" content="on" />
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="favicon.ico" />
    <!--
    <link rel="apple-touch-icon" href="assets/ico/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="assets/ico/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="assets/ico/apple-touch-icon-114x114.png" />
    -->

    {{#if build-options.chrome_frame }}<!-- Enable Chrome Frame for IE6-7 users -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--[if lte IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->

    {{/if}}
    {{#and assets-config.js.html5shiv build-options.html5shiv }}<!-- for IE8 support of HTML elements -->
    <!--[if lt IE 9]>
    {{#each assets-config.js.html5shiv}}<script src="{{this}}" data-build="html5shiv"></script>
    {{/each}}<![endif]-->


    {{/and}}{{#indent 4}}{{#prettify}}
    <!-- Stylesheets -->
    <link type="text/css" rel="stylesheet" href="app/main/css/style.css" media="all" data-build="style" />
    <link type="text/css" rel="stylesheet" href="app/custom-style.css" media="all" data-build="custom-style" />
    {{/prettify}}{{/indent}}

    <!-- Javascript: head-->
    {{#indent 4}}{{#prettify}}

    <script data-build="head_external">/* placeholder */</script>
    {{#each assets-config.js.head_external}}
        <script src="{{this}}" data-build="head_external"></script>
    {{/each}}

    <script data-build="head_vendor">/* placeholder */</script>
    {{#each assets-config.js.head_vendor}}
        {{#if build-options.vendor_external }}
            <script src="{{this}}" data-build="head_vendor"></script>
        {{else}}
            <script src="{{this}}" data-build="head"></script>
        {{/if}}
    {{/each}}

    <script data-build="head">/* placeholder */</script>
    {{#each assets-config.js.head}}
        <script src="{{this}}" data-build="head"></script>
    {{/each}}

    {{/prettify}}{{/indent}}

    <title>{{#if title}}{{title}} / {{/if}}Интернет-магазин детских товаров</title>
</head>
{{#prettify}}
<body class="page page-id-{{ pageId }}">
    <div class="page__container">
        {{> header }}

        <div class="page__main-container d-container">
            <div class="d-row">
                {{#if sidebar-left}}
                    {{add grid-cols -5}}
                {{/if}}
                {{#if sidebar-right}}
                    {{add grid-cols -5}}
                {{/if}}

                {{#if sidebar-left}}
                <!-- block: sidebar-left -->
                <aside class="page__sidebar page__sidebar_left d-col-5">
                    {{#inArray sidebar-right "test-sidebar"}}
                        {{> test-sidebar }}
                    {{/inArray}}
                </aside>
                <!-- /block: sidebar-left -->
                {{/if}}

                <section class="page__content-container d-col-{{#if sidebar-left}}{{#if sidebar-right}}14{{else}}19{{/if}}{{else}}24{{/if}}">
                    <a id="main-content"></a>
                    <div class="page__content">
                        <!-- page content: {{pageId}} -->
                        {{> body }}
                        <!-- /page content: {{pageId}} -->
                    </div>
                </section>

                {{#if sidebar-right}}
                    <!-- block: sidebar-right -->
                    <aside class="page__sidebar page__sidebar_right d-col-5">
                        {{#inArray sidebar-right "test-sidebar"}}
                            {{> test-sidebar }}
                        {{/inArray}}
                    </aside>
                    <!-- /block: sidebar-right -->
                {{/if}}
            </div>
        </div>
    </div>
    {{> footer }}

    <!-- block: hidden-area -->
    <div class="d-hidden">

    </div>
    <!-- /block: hidden-area -->

    <!-- Javascript: bottom -->
    <script data-build="bottom_external">/* placeholder */</script>
       {{#each assets-config.js.bottom_external}}
        <script src="{{this}}" data-build="bottom_external"></script>
    {{/each}}
    
    <script data-build="bottom_vendor">/* placeholder */</script>
    {{#each assets-config.js.bottom_vendor}}
        {{#if build-options.vendor_external }}
            <script src="{{this}}" data-build="bottom_vendor"></script>
        {{else}}
            <script src="{{this}}" data-build="bottom"></script>
        {{/if}}
    {{/each}}

    <script data-build="bottom">/* placeholder */</script>
    {{#each assets-config.js.bottom}}
        <script src="{{this}}" data-build="bottom"></script>
    {{/each}}

    <script src="app/custom-script.js" data-build="custom-script"></script>
</body>{{/prettify}}
</html>
